@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron" ng-app="myApp" ng-controller="formCtrl">
    <p class="lead">Enter a city to search...</p>
    <div class="panel panel-default">
        <div class="panel-body">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" ng-model="str" placeholder="Search for a city"><br/>
                <button class="btn btn-secondary my-2 my-sm-0" type="submit" ng-click="search()">Search</button>
            </form>
        </div>
    </div>
  <h1 class="display-4" ng-show="city != null">{{city}}, {{country}}</h1>
  <p class="lead" ng-show="city != null"> {{main}} </p>
  <p class="lead" ng-show="city != null"> Temperature: {{temperature}}&#8451;; Min: {{minimum}}&#8451;; Max: {{maximum}}&#8451;</p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" role="button" ng-Click="random()">Random</a>
  </p>
</div>

<script src="~/Scripts/script.js"></script>
